body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    border: 2px solid gray;
    height: 96vh;
    }
   
    .two{
        margin: 4px;
        padding: 4px;
        width: 33%;
        height: 480px;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
    }
    .box{
        background-color: lightpink;
        width: 61px;
        height: 60px;

    }
    .king{
        background-color:black;
        width: 61px;
        height: 60px;
    }