#rose{
    background-color: #e40046;
    width: 100vw;
    height: 95px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    position: absolute;
    font-size: 14px;
   
}
.btn{
    text-decoration: none;
    color: white;
    font-size: 14px;
   
}
.cont{
top: 0;
font-size: 12px;
color: white;
background-color: rgba(0, 0, 0, 0.144);
position: absolute;
height: 25px;
padding: 7x;
display: block;
}
.a{
padding-left: 50%;

}
a{
color: white;
text-decoration: none;

}
.input-group{
width: 60%;
height: 35px;
border-radius: 10px;
border: none;
position:static;
}
#button{
    background-color: black;
    color: white;
    width: 130px;
    position: sticky;
    height: 35px;
    text-align: center;
    border: none;
}

.row{
font-size: 12px;
width: 220px;
background-color: rgb(255, 255, 255);
height: 775px;
margin-left: 90px ;
margin-top: 50px;
position: absolute;
box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}
.img{
width: 30px;
height: 30px;
border-radius: 50%;
}
.list-group-item{
font-size: 11px;
border: none;

width: 190px;
}
body{
background-color: #f7f7f7;;
}
#col1{

height: 325px;
width: 1307px;
margin-left: 20%;
display: flex;
justify-content: space-between;
}
.banner{
box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}
#btn{
border-bottom: 2px solid black;
border-radius: 0 ;
}
#col2{
background-color: white;
height: 400px;
width: 85vw;
margin-left: 20%;
display: flex;
}
.one{
padding: 20px;
width: 240px;
font-size: 12px;
}
.one:hover{
box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}
#but3{
border: 3px solid #f7f7f7;
background-color: white;
}
#row{
width: 200px;
padding: 0;
margin-left: 120px;
font-size: 11px;
display: flex;
}
.pincode{
background-color: white;
padding: 10px;
margin-left: 5px;
width: 250px;
margin-right: 120px;
box-shadow: 0 0 0.10cm rgba(0,0,0,0.5);
input{
    width: 200px;
}
button{
    width: 100px;
    height: 35px;
}
}


#cont{
    box-shadow: 0 0 0.15cm rgba(0,0,0,0.5);
    width: 1400px;
    height: 400px;
    background-color: white;
    display: flex;
    align-items: center;
    .down{
      
        height: 350px;
        width: 350px;
        padding: 30px;
    }
    .leaf{
        background-color: none;
        margin-left: 19.5%;
        margin-bottom:7%;
       
    }
}
.waste{
    background-color: white;
    width: 100vw;
    height: 200px;
   
    display: flex;

    .null{
        width: 6%;
        height: 200px;
        box-shadow: 0 0 0.10cm rgba(0,0,0,0.5);
    }
    .have{
        box-shadow: 0 0 0.10cm rgba(0,0,0,0.5);
        height: 200px;
        width: 22%;
    }
}
.waste1{
    border-bottom: 1px solid gray;
    background-color: white;
    width: 100vw;
    height: 280px;
    display: flex;
    justify-content: space-between;
    h6{
        color:rgba(0, 0, 0, 0.733);
    }
    .null{
        width: 6%;
        height: 280px;
      
        
    }
    .null1{
        width: 22%;
        height: 280px;
        padding: 20px;
        input{
            width: 170px;
        }
        button{
            width: 100px;
            background-color: black;
            color: white;
        }
       
    }
    .have{
        padding: 20px;
       
        height: 280px;
        width: 15%;
    }
    .list-group-item{
        color: gray;
        height: 21px;
    }
}


#social{
    height: 120px;
    width: 100vw;
    background-color: white;
    border-bottom: 1px solid gray;
    display:flex;
}
#pay{
    padding: 30px;
    margin-left: 115px;
}
#pay1{
    padding: 30px;
    margin-left: 155px;
    #img{
        width: 40px;
        height: 40px;
    }
}

#last{
    width: 100vw;
    background-color: white;
    height: 50px;
    display: flex;
    align-items: center;
}
.para{
    width: 85%;
    color: gray; 
    font-size: 13px;
    margin-left: 8%;
}
#foot{
    a{
      font-size: 13px;
      color:gray;
      text-decoration: none;
}
a:hover{
    text-decoration:underline;
}
}