body{
    background-color: lightgray;
    border: 2px solid gray;
    height: 96vh;
}
td{
    background-color:aliceblue;
    height: 3vh;
    width: 20vw;
}
th{
    background-color: aliceblue;
    color: black;
    width: 9vw;
}

.head{
    background-color: bisque;
}

input:hover,textarea:hover,select:hover{
    background-color: lightcoral;
}

input,textarea,select{
    background-color: lightblue;
    margin: 5px;
}
a{
    color: red;
    text-decoration: none;
}
.loginbutton{
    background-color: bisque;
    border: 2px solid khaki;
    border-radius: 20px;
    width: 70px;
    height: 30px;
}
.loginbutton:hover{
    background-color: olivedrab;
}



